body, html {
    font-size: 10pt;
    background-color: #C5C9B8;
    height: 100%;
}

.form-border {
	background: #fff;
    padding: 20px 18px 15px 18px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.form-border h5 {
	font-weight: bolder;
	font-size: 10pt;
	text-transform: uppercase;
}

#addUser{
    width: 330px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
    padding: 10px 0;
    
}

.liner-text {
	width:100%;
	text-align:center;
	border-bottom: 1px solid #cecece;
	line-height:0.2em;
	margin:10px 0 15px; 
}

.liner-text span {
	color: #a1a1a1;
	background: #fff;
	padding:0 10px; 
}

.subm {
	width: 100%;
	height: 40px;
	background: green;
	font-size: 10pt;
	color: #fff;
}

.input-group-text {
	background-color: #fff;
}
.fa {
	width: 15px;
}

.form-control {
	border-left: none;
}

.flex {
	display: flex;
	flex-direction: row;
}
.flex-between{
	justify-content: space-between;
}

.btn-login {
	padding: 3px 25px;
}

.social-list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list li {
    display: inline-block;
}

.social-list .item {
    width: 100px;
}

.social-list .marker {
    color: grey;
}
