{% extends 'main_project/base.html' %}

{% block main_content %} 
	{% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
	{% else %}
             <a class="lead" href="{% url 'user-add' %}">Log in</a>
	{% endif %}
{% endblock %}
