{% extends 'main_project/base.html' %}

{% load staticfiles %}

{% block main_content %}  
<div id="addUser">
	<div class="form-border"> 
		<h5 class="text-center">SIGN UP THIS</h5>
		<ul class="social-list">
			<li class="item"><b><a href="{% url 'social:begin' 'facebook' %}">Facebook</a></b></li>
			<li class="marker">/</li>
			<li class="item"><b><a href="{% url 'social:begin' 'google-oauth2' %}">Google</a></b></li>
		</ul>
		<div>
			<div class="liner-text">
				<span>or</span>
			</div>
		</div>
		<form method="post" action="{% url 'user-add' %}" class = "form" role = "form">
		{% csrf_token %}
		{% for field in form %}
			{% if field.name == 'license_' %}
			<div class="mb-2 checkbox">
				{{ field }}
				<label>{{ field.help_text }}</label> 
			</div>
			{% else %}
				<div class="input-group mb-2 {% if field.errors %}has-error{% endif %}" id="group_{{ field.name }}">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon{{ forloop.counter }}">
								{% if field.name == 'first_name' or field.name == 'last_name' %}
									<i class="fa fa-users"></i>
								{% elif  field.name == 'password' or field.name == 'confirm_password' %}
									<i class="fa fa-lock"></i>
								{% else %}
									<i class="fa fa-envelope-o"></i>
								{% endif %}
							</span>
						</div>
					 {{ field }}
				</div>
				 {% if field.errors %}
					{% for error in field.errors %}
					<div class="help-block">
					<small id="{{field.name}}error" class="text-danger">
						{{ error }}
					</small>
					</div>  
					{% endfor %}
				 {% endif %}
			{% endif %}
		{% endfor %}
		<div class="form-group">
			<input type="submit" name="add_data" value="REGISTER" class="btn subm">
		</div>
		</form>
		<div class="flex flex-between">
			<div style="padding-top: 5px;">Aldeady have an account?</div>
			<div><button class="btn btn-outline-info btn-login">LOG IN</button></div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function(){
        manage_button($('#id_license_'));
        $('#id_license_').click(function(){
            manage_button($(this));
        });
        function manage_button(el) {
            if (el.is(':checked')) {
                $('input[type="submit"]').removeAttr("disabled");
            } else {
                $('input[type="submit"]').attr("disabled","disabled");
            }
        }
    });
</script>
{% endblock %}

{% block head_link %}
<link href="{% static 'css/create_user.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
